@model MVCWithEF.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReTypePasword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReTypePasword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
